@tailwind base;
@tailwind components;
@tailwind utilities;



html,
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
