@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply scroll-smooth;
  -webkit-tap-highlight-color: transparent;
}

body{
  @apply bg-gray-100
}

body.white{
  @apply bg-white
}


html,
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Al Qalam Quran';
  src: url('../public/fonts/alqalam.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Me Quran';
  src: 
    url('../public/fonts/me_quran/me_quran-2.woff2') format('woff'),
    url('../public/fonts/me_quran/me_quran-2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nastaleeq';
  src: 
    url('../public/fonts/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.ttf') format('truetype'),
    url('../public/fonts/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.woff') format('woff'),
    url('../public/fonts/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uthmanic Hafs';
  src: 
    url('../public/fonts/uthmanic_hafs/UthmanicHafs1Ver18.ttf') format('truetype'),
    url('../public/fonts/uthmanic_hafs/UthmanicHafs1Ver18.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

#arab.alqalam-font{
  font-family: 'Al Qalam Quran';
}

#arab.mequran-font{
  font-family: 'Me Quran';
}

#arab.nastaleeq-font{
  font-family: 'Nastaleeq';
}

#arab.uthmanic-font{
  font-family: 'Uthmanic Hafs';
}

.arabic.uthmani{
  font-family: 'Uthmanic Hafs';
  @apply text-4xl lg:text-5xl leading-normal
}


h2{
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 10px;
}

p{
  font-size: 1rem;
}

.surah-info h2{
  @apply text-2xl  lg:text-3xl font-bold text-emerald-100 dark:text-emerald-500
}

.surah-info p {
  @apply  text-lg md:text-xl text-justify
}

.surah-info ol{
  list-style: square;
  @apply text-lg md:text-xl text-justify pl-5
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}